* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body {
  height: 100vh;
  background: linear-gradient(
    135deg, #8052ec, #d161ff
  );
}

form {
  width: 75vmin;
  height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left : 50%;
  padding: 40px 0;

}

input[type="text"] {
  width: 100%;
  padding: 15px 10px;
  border: none;
  border-bottom: 1px solid #645979;
  outline: none;
  border-radius: 5px 5px 0 0;
  background-color: #ffffff;
}

.search-result{
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  /* padding: 15px 10px; */
  font-weight: 550;
  max-height: 60vh;
  overflow-y: scroll;
}

.each-item{
  display: flex;
  justify-content: space-between;
  padding: 15px 8px;
  border-bottom: 1px solid black;
}

.destination-place{
  color: purple
  ;
}
